.hex {
  position: relative;

  padding: 1rem;
  margin: 0 auto;
  width: 620px;
  height: 20px;

  background: #888;
  -webkit-clip-path: polygon(11px 0, calc(103% - 32px) 0, 100% 50%, calc(103% - 32px) 100%, 11px 100%, 0 50%);
}

.hex:before {
  content: "";

  position: absolute;
  top: .15rem;
  left: .25rem;
  z-index: -1;

  width: calc(100% - .5rem);
  height: calc(100% - .3rem);

  -webkit-clip-path: polygon(9px 0, calc(103% - 29px) 0, 100% 50%, calc(103% - 29px) 100%, 9px 100%, 0 50%);
}

.hex.gradient-border:before {
  background: linear-gradient(90deg, #f1f2f3 10%, #fafafa 10%);
}

.inputBoxWrapper {
  display: flex;
}
.con {
  margin-top: 50px;
}
.input-box {
  display: grid;
  align-items: center;
  padding: 0 1rem;

  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}

.icon {
  cursor: pointer;
}

.search-box {
  background-color: inherit;
  border: none;
  outline: none;
}